.bg1 {
    background-image: url('../images/backgrounds/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    background-image: url('../images/background/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
